.esports-card {
    /* Transitions for a smooth feel */
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    /* border-radius: 8px; */
    /* Explicitly ensuring no default borders */
    border: none;
    outline: none;
  }

  .esports-card:hover {
    transform: scale(1.05); /* Slight zoom */
    filter: brightness(1.3);
  }