# Drupal uploaded files
/sites/default/files/

# Composer dependencies
/vendor/

# Local settings
/sites/default/settings.local.php

# Node modules (if any)
node_modules/

# OS temp files
.DS_Store
*.log
*.tmp

# IDE/editor files
.idea/
*.sublime-project
*.sublime-workspace
